BasedOnStyle: Webkit
ColumnLimit: 120
PointerAlignment: Right
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: true
AlignConsecutiveMacros: Consecutive
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
BreakBeforeBinaryOperators: None
SpaceBeforeParens: ControlStatements
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpacesInCStyleCastParentheses: false

ForEachMacros:
  - 'DLIST_FOR_EACH_ENTRY'
  - 'DLIST_FOR_EACH_ENTRY_REVERSE'
  - 'DLIST_FOR_EACH_ENTRY_SAFE'